{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'Box list' %}
{% block page_title -%}
    {{ _content_title }}
{%- endblock %}
{% block main %}
    <h1>Box index</h1>

    <a href="{{ path('admin_box_new') }}" class="btn btn-primary">Create new !</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.name }}</td>
                <td>{{ box.price }}</td>
                <td>
                    <a href="{{ path('admin_box_show', {'id': box.id}) }}" class="btn-primary">show</a>
                    <a href="{{ path('admin_box_edit', {'id': box.id}) }}" class="btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
